{% extends 'base_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Signup</title>
{% endblock %}

{% block content %}
  <form action="" method="POST" class="auth--form">
    {% csrf_token %}

    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Sign Up</legend>
    </fieldset>
    {{ form|crispy }}

    <div class="form-group">
      <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already Have an Account? <a href="{% url 'login' %}" class="ml-2">Login</a>
    </small>
  </div>
{% endblock %}